
<div id="" class="body_backgroud wood_bg">
	<div class="body_backgroud background_overlay">
		<div class="diagonal_container vertical_center">
			<div id="nav" class="diagonal_navigation" ui-view="diagonal_navigation">

			</div>
			<div class="diagonal_image_container" ui-view="diagonal_image_container">
				<div class="image_in_diagonal" ui-view="diagonal_image">
					<div class="{{diagonalImage_class}}">
					</div>
				</div>
			</div>
		</div>

	<!-- 	<div ui-view="body">
			IM IN HOMEPAGE INDEX
		</div> -->
	</div>
</div>