<div class="image_in_diagonal" ui-view="diagonal_image">
	<div class="images {{diagonalImage_class}}" data-img-width="2246" data-img-height="1263">
		<div id="desc_min" class="overlay_mid">
			<div class="text_container">
				<h1>{{diagonalImage_title}}</h1>
				<div class="right_arw" ng-click="show_more()"></div>
				<p>{{diagonalImage_body}}</p>

				<!-- <a ng-click="show_more()">read more</a> -->
			</div>
		</div>
		<div id="desc_max" class="overlay_full hide">
			<div class="left_arw" ng-click="show_less()"></div>
			<div id="long_txt_cont" class="text_container">
				<p id="long_txt" class="col-md-9 col-sm-9 col-xs-12" ng-bind-html="diagonalImage_body_max"></p>
			</div>
		</div>
	</div>
</div>