Design

a meeting with K’NEX design team
taking you through an extensive
briefing process ensures unprecedented
customisation of your space...


the brief
a meeting with K’NEX design consultants taking you through an extensive briefing 
process ensures unprecedented customisation of your space and an assurance that 
your requirements are met. K’NEX is will help recommend the best suited appliances
for your design.

the design
the designer will then conceptualise cabinetry using local and international design standards
and collections ensuring functionality, ergonomics and ultimately a relational living space that
will integrate both visually and practically with the rest of your space. the philosophy of 
relational living, achieved through zone planning, is employed at each stage of the design process.

the presentation
presented in photo realistic 3d , you have the opportunity to discuss further customisation and 
budget requirements while you are walked through your conceptualised living space at a follow up 
meeting at our showroom. this process continues until the design and costing has met all your 
requirements enabling the process to continue to the sign-off phase.