Management

once the necessary paperwork is
signed, work shifts from design studio
to management where technical
drawings are produced for... 

sign-off
once the necessary paperwork is signed, work shifts from design studio to management
where technical drawings are produced for the detailed briefing of other stakeholders
in the project. 

site preparation
a dedicated project manager together with your design consultant ensures that all critical
water and electrical points are placed correctly while overseeing that the final wall
measurements correspond with the original plans. 

site management
as one point of reference, your project manager communicates all timelines and other
relevant information. he assesses site readiness to protect your investment once delivered
and installed in your space, giving you an overall hassle-free experience.