Product

product guarantees ensure that only the
finest in kitchen, wardrobe and component
products are offered to our niche clientele... 


product guarantees ensure that only the finest in kitchen, wardrobe and component
products are offered to our niche clientele. K’NEX maintains that all products must
be aeathetically functional, make ideas happen this focus offers confidence
to our clients that every detail of the product is thought through and carefully considered,
assuring clientele wishes and ensuring ultimate longevity. 

cabinetry is defined by precision, quality and functionality. each component that makes up a
K’NEX cabinet has been thought through; from the machined edging to the custom two tone motif,
providing the essential aesthetic element. all kitchen and cabinetry units are constructed using MDF
& PB water-resistant boards, ensuring unrivalled quality and longevity of your product. all
K’NEX cabinets display expert planning, state-of-the-art technology and 21st century craftsmanship,
creating durable and unrivaled cabinet quality.

K’NEX fittings and accesories uses wide varied of brands to suit a resonable yet functional products.

-----

finishes define the overall design and is therefore essential that all materials used
are timeless in appeal. K’NEX offers 20 differnt range of imported UV Coated Melamine
finishes, from high gloss to matt.

all surface tops suppliers and sub contractor are properly, briefed for product consistency; 

all glass backssplash and doors are specified tempered, ensuring a safe and durable 
product and come in a gloss or matt finish.

all timbers are specified to companies that offer durable and quality product; 

laminates are an extremely durable and hard-wearing finish and offer a wide range of
custom colours and textures in either a matt or gloss finish.