Site

our project manager will do independent
inspections of the site before giving 
the delivery instruction. upon delivery...


delivery
our project manager will do independent inspections of the site before giving
the delivery instruction. upon delivery,  units are unwrapped and inspected before
installation begins.

Installation
installations are carried out by qualified, permanent K’NEX installers and overall
progress is managed by the project manager. kitchen, wardrobe and component
installation timelines will be communicated in advance and all the elements are finally
wrapped to ensure your investment is protected.

after sales service
together with our 1 year K’NEX product guarantee and 1 year K’NEX
workmanship guarantee, we service your installation 1 month, 3 months, 12 months
and 24 months after handover to ensure the settling-in period is effortless, leading
to an overall hassle-free experience.